" ============================================================================
" Emulated plugins
" ============================================================================
" https://github.com/JetBrains/ideavim
set surround
" Commands: ys, cs, ds, S

" set vim-multiple-cursors
" Commands: <A-n>, <A-x>, <A-p>, g<A-n>

" ============================================================================
" Set commands
" ============================================================================
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" The ":substitute" flag 'g' is default on
" No need to add g at the end substitution command
set gdefault

" Highlight search results
set hlsearch

" Ignore case when searching
set ignorecase

" Makes search act like search in modern browsers
set incsearch

" pairs of characters that "%" can match
set matchpairs=(:),[:],{:},<:>

" number formats recognized for CTRL-A command
set nrformats+=alpha
set nrformats-=octal

" Use hybrid (absolute and relative) numbers
set number relativenumber

" message on status line to show current mode
set showmode

" When searching try to be smart about cases
set smartcase

" time that is waited for a mapped key sequence
set timeoutlen=500

" use visual bell instead of beeping
set visualbell

" searches wrap around the end of the file
set wrapscan

" ============================================================================
" IDE actions
" ============================================================================

nnoremap ga :action GotoAction<CR>
nnoremap gb :action GotoNextBookmark<CR>
nnoremap gB :action GotoPreviousBookmark<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gr :action RecentFiles<CR>
nnoremap grc :action RecentlyChangedFiles<CR>
nnoremap gs :action GotoSymbol<CR>

" unimpaired mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k]
nnoremap ]m :action MethodDown<CR>
nnoremap [M :action MethodUp<CR>
nnoremap ]o :action SelectNextOccurrence<CR>
nnoremap [o  :action SelectPreviousOccurrence<CR>
nnoremap ]u :action GotoNextElementUnderCaretUsage<CR>
nnoremap [u :action GotoPrevElementUnderCaretUsage<CR>

" leader key mappings
nnoremap <Bslash>c :action ActivatePythonConsoleToolWindow<CR>
nnoremap <Bslash>t :action ActivateTerminalToolWindow<CR>
nnoremap <Space>o :action HideAllWindows<CR>
nnoremap <Space>w :action JumpToLastWindow<CR>
nnoremap <Bslash>i :action GotoImplementation<CR>
nnoremap <Bslash>a :action SelectAllOccurrences<CR>
nnoremap <Space>q :action CloseProject<CR>

" not working
nnoremap <C-W>H :action ChangeSplitOrientation<CR>
nnoremap <C-W>J :action ChangeSplitOrientation<CR>
nnoremap <C-W>K :action ChangeSplitOrientation<CR>
nnoremap <C-W>L :action ChangeSplitOrientation<CR>

" not working well
nnoremap <Space>l :action ReformatCode<CR> " lint
nnoremap <Space>r :action RefactoringMenu<CR>
" working????"
nnoremap <Space>s :action Synchronize<CR>

" clear the search buffer when hitting space twice
nnoremap <Space><Space> :nohlsearch<CR>

" not working
" nnoremap g; :action JumpToLastChange<CR>
" nnoremap g, :action JumpToNextChange<CR>
