" ============================================================================
" Emulated plugins
" ============================================================================
" https://github.com/JetBrains/ideavim
set surround
" Commands: ys, cs, ds, S

set multiple-cursors
" Commands: <A-n>, <A-x>, <A-p>, g<A-n>

" ============================================================================
" Set commands
" ============================================================================
" https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" The ":substitute" flag 'g' is default on
" No need to add g at the end substitution command
set gdefault

" Highlight search results
set hlsearch

" Ignore case when searching
set ignorecase

" Makes search act like search in modern browsers
set incsearch

" pairs of characters that "%" can match
set matchpairs=(:),[:],{:},<:>

" number formats recognized for CTRL-A command
set nrformats+=alpha
set nrformats-=octal

" Use hybrid (absolute and relative) numbers
set number relativenumber

" message on status line to show current mode
set showmode

" When searching try to be smart about cases
set smartcase

" time that is waited for a mapped key sequence
set timeoutlen=500

" use visual bell instead of beeping
set visualbell

" searches wrap around the end of the file
set wrapscan

" ============================================================================
" IDE actions
" ============================================================================
"
nnoremap <Space> :action ExecuteInPyConsoleAction<CR>
vnoremap <Space> :action ExecuteInPyConsoleAction<CR>

nnoremap ga :action GotoAction<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gr :action GotoRelated<CR>
nnoremap gs :action GotoSymbol<CR>

nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

" unimpaired-style mappings
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k]
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>
nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]o :action SelectNextOccurrence<CR>
nnoremap [o :action SelectPreviousOccurrence<CR>
nnoremap ]u :action GotoNextElementUnderCaretUsage<CR>
nnoremap [u :action GotoPrevElementUnderCaretUsage<CR>
nnoremap ]p :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorOnlyLayoutChangeAction <CR>
nnoremap [p :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorAndPreviewLayoutChangeAction <CR>
nnoremap ]P :action org.intellij.plugins.markdown.ui.actions.editorLayout.EditorOnlyLayoutChangeAction <CR>
nnoremap [P :action org.intellij.plugins.markdown.ui.actions.editorLayout.PreviewOnlyLayoutChangeAction <CR>
nnoremap yod :action ToggleDistractionFreeMode <CR>
nnoremap yoi :action EditorToggleShowIndentLines <CR>
nnoremap yon :action EditorToggleShowLineNumbers <CR>
nnoremap yop :action TogglePresentationMode <CR>
nnoremap yos :action EditorToggleShowWhitespaces <CR>
nnoremap yow :action EditorToggleUseSoftWraps <CR>

" backslash as leader key mappings
nnoremap <Bslash>a :action SelectAllOccurrences<CR>
nnoremap <Bslash>b :action ShowBookmarks<CR>
nnoremap <Bslash>c :action ActivatePythonConsoleToolWindow<CR>
nnoremap <Bslash>d :action ActivateDatabaseToolWindow<CR>
nnoremap <Bslash>e :action RenameElement<CR>
nnoremap <Bslash>f :action RenameFile<CR>
nnoremap <Bslash>h :action HideAllWindows<CR>
nnoremap <Bslash>i :action GotoImplementation<CR>
nnoremap <Bslash>l :action ReformatCode<CR>
nnoremap <Bslash>L :action ShowReformatFileDialog<CR>
nnoremap <Bslash>m :action Move<CR>
nnoremap <Bslash>n :action ShowNavBar<CR>
nnoremap <Bslash>o :action ChangeSplitOrientation<CR>
nnoremap <Bslash>p :action NewDirectoryProject<CR>
nnoremap <Bslash>q :action CloseProject<CR>
nnoremap <Bslash>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Bslash>s :action ActivateSciViewToolWindow<CR>
nnoremap <Bslash>t :action ActivateTerminalToolWindow<CR>
nnoremap <Bslash>u :action Synchronize<CR>
nnoremap <Bslash>v :action Vcs.QuickListPopupAction<CR>
nnoremap <Bslash>w :action JumpToLastWindow<CR>
nnoremap <Bslash>x :action ReopenClosedTab<CR>

" clear search highlighting when hitting backslash twice
nnoremap <Bslash><Bslash> :nohlsearch<CR>

" Emacs and bash style insert mode shortcuts
" The opposite of <C-h>
inoremap <C-d> <C-o>x
" The opposite of <C-u>
inoremap <C-k> <C-o>D
" The opposite of <C-a>
inoremap <C-e> <C-o>$
" The opposite of <C-e>
inoremap <C-a> <C-o>^
" The opposite of <C-b>
inoremap <C-f> <right>
" The opposite of <C-f>
inoremap <C-b> <left>

" Alt keys specific to MacOS
inoremap ∂ <C-o>dw
inoremap ˚ <C-o>k
inoremap ∆ <C-o>j
inoremap ƒ <C-o>w
inoremap ∫ <C-o>b
